<!DOCTYPE html>
<html>
<head>
    <title>CI/CD Flask App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>CI/CD Pipeline Successfully Deployed</h1>
        <p>This Flask application is running on AWS EC2 using Docker.</p>

        <div class="card">
            <h2>Project Stack</h2>
            <p>GitHub Actions + Docker + AWS EC2 + Flask</p>
        </div>

        <div class="status">Deployment Status: Live ✅</div>
    </div>
</body>
</html>
